:root {
  --container-size: 500px;
  --player-size: 250px;
  --half-container-size: calc(var(--container-size) / 2);
  --scaling-factor: 1.3;
  --small-square-start: 14.64%;
  --small-square-end: calc(100% - var(--small-square-start));
}

ul {
  list-style-type: none;
  padding: 0;
}

.app-header {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: italic;
}

.game-container {
  display: flex;
  position: relative;
  top: 90px;
  width: var(--container-size);
  height: var(--container-size);
  border: 2px solid #333;
  border-radius: 50%;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 250px;
}

.player-0 {
  transform: translate(-50%, -50%) rotate(0deg)
    translate(var(--half-container-size)) rotate(-0deg);
}

.player-1 {
  transform: translate(-50%, -50%) rotate(72deg)
    translate(var(--half-container-size)) rotate(-72deg);
}

.player-2 {
  transform: translate(-50%, -50%) rotate(144deg)
    translate(var(--half-container-size)) rotate(-144deg);
}

.player-3 {
  transform: translate(-50%, -50%) rotate(216deg)
    translate(var(--half-container-size)) rotate(-216deg);
}

.player-4 {
  transform: translate(-50%, -50%) rotate(288deg)
    translate(var(--half-container-size)) rotate(-288deg);
}

#battleArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 230, 64, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 230, 64, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 230, 64, 0);
  }
}

.active-player {
  border: 3px solid green;
  animation: pulse 1.5s infinite;
}

.winning-card {
  border: 3px solid rgb(246, 246, 3);
  animation: pulse 1.5s infinite;
}

.suit-led-card {
  border: 3px solid rgb(118, 200, 55);
  animation: pulse 1.5s infinite;
}
